* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--ff-primary);
  width: 100%;
  height: 100%;
}
:root {
  --ff-primary: "Montserrat", sans-serif;

  --fw-reg: 250;
  --clr-light: #fff;
  --clr-dark: rgb(25, 106, 140);

  --fs-h1: 2.9rem;
  --fs-h2: 2.7rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.3rem;
}
@media (max-width: 768px) {
  :root {
    --ff-primary: "Montserrat", sans-serif;

    --fw-reg: 250;
    --clr-light: #fff;
    --clr-dark: rgb(25, 106, 140);

    --fs-h1: 1.9rem;
    --fs-h2: 1.7rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.2rem;
  }
}
#container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto auto;
  grid-template-rows: 0.2fr 3fr 1.5fr auto auto;
  grid-template-areas:
    "sub-header sub-header sub-header"
    "header header header"
    "main-text main-text main-text"
    "main main main";
}
@media (max-width: 768px) {
  #container {
    max-width: 100% !important;
    overflow-x: hidden !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr 1fr;
    grid-template-areas:
      "sub-header"
      "header"
      "main-text"
      "main";
  }
  body {
    overflow-x: hidden !important;
  }
}

#sub-header {
  background-color: var(--clr-dark);
  grid-area: sub-header;
  padding: 10px 100px;
  height: 100%;
  width: 100%;
}
#logo {
  height: 100px;
  width: 300px;
}

.headerdivs {
  height: 100%;
  width: 50%;
  float: left;
}
.nav-container {
  float: right;
  padding: 30px 0;
}
.hamburger,
.hamburger:before,
.hamburger:after {
  background: var(--clr-light);
  width: 40px;
  height: 3px;
}
.hamburger {
  display: inline-block;
  position: relative;
}
.hamburger:before {
  content: "";
  position: absolute;
  top: -10px;
}
.hamburger:after {
  background: var(--clr-light);
  content: "";
  position: absolute;
  top: 10px;
}

#header h1 {
  text-align: right;
  font-size: var(--fs-h1);
  font-weight: var(--fw-reg);
  color: var(--clr-light);
  background-color: var(--clr-dark);
  padding-right: 100px;
  padding-left: 200px;
  padding-bottom: 150px;
}
#header {
  grid-area: header;
  background-color: var(--clr-dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 68%);
}
@media (max-width: 768px) {
  
  #header {
    grid-area: header;
    background-color: var(--clr-dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 68%);
  }
  #header h1 {
    padding: 50px;
    float: right;
  }
}

#main-text {
  padding: 0 100px;
  grid-area: main-text;
  color: var(--clr-dark);
  font-weight: var(--fw-reg);
}

#main-text h1 {
  padding-right: 500px;
  padding-bottom: 25px;
  text-align: left;
  color: var(--clr-dark);
  text-decoration: none;
  font-weight: var(--fw-reg);
  font-size: var(--fs-h1);
}
#main-text h3 {
  padding-bottom: 20px;
  text-align: left;
  text-decoration: none;
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
}
@media (max-width: 768px) {
  #header h1 {
    padding-left: 0;
  }

  #main-text {
    padding: 10px 10px;
  
  }
  #main-text h1 {
    padding-right: 10px;
    padding-bottom: 10px;
  }
}
.articles {
  color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  max-width: 33%;
}
.article-title {
  font-size: var(--fs-h3);
}
.article-desc {
  font-size: var(--fs-body);
}
.main {
  grid-area: main;
  margin: 15px 100px;
}
.button {
  flex-flow: column nowrap;
  font-size: var(--fs-body);
  color: var(--clr-light);
  display: block;
  background-color: #447cab;
  border: transparent;
  margin-top: 5px;
  color: white;
  font-size: 20px;
  padding: 13px 20px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
}
.button a {
  font-size: var(--fs-body);
  color: var(--clr-light);
  background-color: #447cab;
  border: transparent;
  margin-top: 5px;
  color: white;
  font-size: 20px;
  padding: 13px 20px;
  width: 300px;
  text-align: center;
  text-decoration: none;
}
img {
  width: 100%;
  height: 200px;
}

.evencolumns {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .articles {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  .article-title {
    font-size: var(--fs-h3);
    margin-top: 20px;
    display: inline-flex;
    height: auto;
  }
  .article-desc {
    font-size: var(--fs-body);
    display: inline-flex;
  }

  .main {
    margin: 15px 20px;
  }
  .evencolumns {
    flex-direction: column;
  }
  .evencolumns > .articles {
    flex-basis: 100%;
    max-width: 80%;
  }
}
.evencolumns > .articles {
  flex-basis: 33%;
}
